@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Rancho&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
    background: #fff;
    min-height:100vh;
}

/*#header{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
#header .logo{
    color:#094b65;
    text-decoration: none;
    width:70px;
    margin-left: -50px;
}
#header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header ul li{
    list-style: none;
    margin-left: 20px;
}
#header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color:#094b65;
    border-radius: 20px;
}
#header ul li a:hover,
#header ul li a:active
{
    background: #094b65;
    color:#fff;
}*/


#navbarNav ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color:#094b65;
    border-radius: 20px;
}
#navbarNav ul li a:hover,
#navbarNav ul li a.active
{
    background: #094b65;
    color:#fff;
}

#destination{
    margin-top: -24px;
    background-color: #fff;
}
#destination p{
    color:#094b65;
}
#zoom img{
    transform: scale(1);
    transition: 0.3s ease-in-out;
}
#zoom img:hover{
    transform: scale(1.2);
}
#bg img{
    margin-top: -105px;
}
#bg h3{
    text-align: center;
    margin-top: -300px;
    margin-bottom: 300px;
    color: #fff;
    font-family: 'rancho', cursive;
    font-size: 50px;
}
.svg{
    margin-top: -25px;
}
#contact{
    color: #fff;
    background: #094b65;
}
#contact h2{
    margin-top:50px;
}
#foot{
    color: #fff;
}

/*scrollup*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color:#094b65;
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: 10;
    transition: .4s;
}

.scrollup:hover{
    background-color:#094b65;
}

.scrollup_icon{
    font-size: 2.2rem;
    color: #fff;
}

.show-scroll{
    bottom: 5rem;
}